.searches {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: hsl(0, 13%, 94%);
}
.searches.dark {
  background-color: hsl(207, 26%, 17%);
}
.searchBar input {
  padding: 0.8rem;
  padding-right: 6rem;
  border: none;
}
.searchBar.dark input {
  background-color: hsl(204, 18%, 17%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.searchBar {
  padding-left: 1rem;
}
.searchBar.dark {
  padding-left: 1rem;
}
.searchBar.dark .search-logo {
  color: white;
}
.dropDown.dark select {
  /* border: 2px solid red; */
  background-color: hsl(204, 18%, 17%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.dropDown select {
  padding: 0.8rem;
  padding-left: 2rem;
  border: none;
  background-color: white;
}
