.specific_details {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  gap: 15rem;
  margin-top: 5rem;
  /* justify-content: space-between; */
  /* padding: 2rem; */
}
.specific_Country {
  height: 100vh;
  width: 100wh;
}
.specific_details img {
  height: 15rem;
}

.allDetails {
  display: flex;
  gap: 4rem;
  line-height: 2rem;
}

.borderCountries {
  padding: 1rem;
  padding-top: 2rem;
}
.back_btn {
  margin-left: 2rem;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.specific_Country.dark {
  background-color: hsl(207, 26%, 17%);
  color: white;
}
.back_btn.dark {
  background-color: hsl(204, 18%, 17%);
  color: white;
}

.borderLinks {
  padding: 0.5rem 2rem;
}

.borderLinks.dark {
  background-color: hsl(204, 18%, 17%);
  color: white;
}
.flagOfCountry {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
