.searches {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
.searches select {
  padding: 0.8rem;
  border: none;
  border-radius: 0.2rem;
}
.searches.light select {
  background-color: white;
}
.searches.dark {
  color: white;
}
.searches.dark select {
  color: white;
  background-color: hsl(204, 18%, 17%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
