* {
  margin: 0;
  padding: 0;
}
.head {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: white;
}
.light {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}

.head.dark {
  background-color: hsl(204, 18%, 17%);
  color: hsl(0, 0%, 100%);
}
.mode button {
  border: none;
}
.light .mode button {
  background-color: white;
  color: black;
}
.dark .mode button {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

.mode {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
