.countries {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, auto));

  background-color: hsl(0, 13%, 94%);
}

.countries.dark {
  background-color: hsl(207, 26%, 17%);
}
.country-details.dark {
  background-color: hsl(204, 18%, 17%);
  color: white;
}
.country-details {
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 2rem;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.details h3 {
  padding-bottom: 1rem;
}
.details {
  padding-top: 1.2rem;
  padding-left: 1rem;
}

.flag {
  width: 100%;
  height: 10rem;
  object-fit: fill;
}
.display_text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  font-size: xx-large;
  font-style: bold;
}
