* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.searchComponent {
  display: flex;
  justify-content: space-between;

  background-color: hsl(0, 13%, 94%);
}
.background {
  background-color: hsl(207, 26%, 17%);
}
